
.center-container {
  display: flex;
  flex-direction: column;   /* stack header + map vertically */
  justify-content: center;  /* center vertically */
  align-items: center;      /* center horizontally */
  height: 100vh;            /* fill viewport height */
  width: 100vw;             /* fill viewport width */
}

.header{
  font-size: 4vw;
}

.map {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;    /* horizontal center for header + map */

}


.header svg {
  width: 100%;
  height: auto;
}

.rsm-zoomable-group{
  border-style: double;
  border-width: 3px;
  border-color: gray;
  
}
.rsm-geographies {
  stroke: #333;           
  stroke-width: 0.25px;
  transform: translateY(-18.5%)
}

.map-container svg {
  width: 100%;           /* map scales to container width */
  height: auto;          /* maintain aspect ratio */
  
}